page-cover-story {

  ion-grid {
    //margin-top: 30px;
  }

  ion-row {
    //padding-top: 15px;
  }

  ion-row#half {
      //margin-top: 50px;
      text-align: center;
  }

  ion-row#bottom {
    //margin-top: 50px;
    text-align: center;
}

  .content-wrapper {
    padding: 10px;
    background: beige;
    border-radius: 10px;
    font-size: large;

    h1 {
      margin-bottom: 30px;
    }

  }
}
