<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button *ngIf="!nextConfirmed" ion-button (click)="confirmNext()">{{'SCENARIO.NEXT' | translate}}</button>
      <button *ngIf="nextConfirmed" ion-button (click)="next()" color="secondary">{{'SCENARIO.NEXT_CONFIRM' | translate}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>

    <ion-row id="top">
      <ion-col text-center>
        <div class="content-wrapper">
          <p [innerHTML]="'COVER_STORY.TEXT' | translate"></p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row id="half">
      <ion-col text-center>
        <img src="assets/img/all_monsters.png">
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
