page-scenario-question {
  ion-grid {
    //margin-top: 30px;
  }
  ion-row#top {
    //padding-top: 10px;
  }
  ion-row#half {
    margin-top: 25px;
    margin-bottom: 5px;
    text-align: center;
  }
  ion-row#history {
    //margin-top: 10px;
    text-align: center;
  }
  ion-row#bottom {
    margin-top: 15px;
    text-align: center;
  }
  ion-col.bordered {
    border: 2px solid black;
    border-radius: 10%;
    margin: 3px;
  }
  .content-wrapper {
    padding: 10px;
    background: beige;
    border-radius: 10px;
    font-size: large;
    h1 {
      margin-bottom: 30px;
    }
  }
  img.check {
    display: block;
    max-width: 70px;
    margin: auto;
  }
}
